<form action = "/games/filter">
	<h7><strong>Operating System</strong></h7><br>
	<input type="radio" name="os" value="All">All<br>
	<input type="radio" name="os" value="Windows">Windows<br>
	<input type="radio" name="os" value="Linux">Linux<br>
	<input type="radio" name="os" value="Mac">Mac<br>
	
	<h7><strong>Price</strong></h7><br>
	<input type="checkbox" name="price" value="Free">Free to play<br>
	Max Price($)<input type="text" name="pricemax" value="" size=3><br>
	<br>
	<input type="submit"/>
</form>