<form action = "/games/sort">
	<input type="radio" name="sort" value="titleasc">Title (A to Z)<br>
	<input type="radio" name="sort" value="titledesc">Title (Z to A)<br>
	<input type="radio" name="sort" value="priceasc">Price (low to high)<br>
	<input type="radio" name="sort" value="pricedesc">Price (high to low)<br>
	<br>
	<input type="submit"/>
</form>