<%= render "games/header" %>
<body>
    <section id="nav" class="d-inline-block p-4">
        <ul class="nav flex-column d-inline-block p-0" style="vertical-align: top ">
            <li class="nav-item ">
                <a class="nav-link active " href="# ">New Games</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# ">Upcomming Releases</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# ">Recommended</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# ">Top Seller</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# ">ON Sale </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# ">Browse By Games</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# ">Free Game</a>
            </li>

        </ul>

        <div id="MC2" class="d-inline-block  col-9 " style="  padding: 70px 0; ">

            <!-- These tags define indicators for a easy access to an element in the carousel-->

            <section>
                <h2 class="d-inline-block w-25 col-2" style="vertical-align: top; color:black;">Minecraft 2 Anniversary Sale</h2>

                <!-- These tags define the images which will be displayed in this component -->
                <div class=" d-inline-block col-6 " style="width:480px;">
                    <div class="carousel-item active ">
                        <img src="minecraft 2.jpg " class="d-block w-100 " alt="Slide 1 ">
                        <span style="font-size: smaller "></span></p>
                    </div>


                </div>
                <div class="pic d-inline-block pl-6 col-4 ">
                    <div class="carousel-item active ">
                        <img src="half-life-3.jpg " class="d-block w-100 " alt="Slide 1 ">
                        <span style="font-size: smaller "></span></p>
                    </div>


                </div>
            </section>

            <section>

                <!-- These tags define the images which will be displayed in this component -->
                <div class=" d-inline-block col-3 pt-5" style="width:480px;">
                    <div class="carousel-item active ">
                        <img src="roblox2.jpg " class="d-block w-100 " alt="Slide 1 ">
                        <span style="font-size: smaller "></span></p>
                    </div>
                </div>
                <div class="pic d-inline-block col-3 ">
                    <div class="carousel-item active ">
                        <img src="loot-box-simulator.png " class="d-block w-100 " alt="Slide 1 ">
                        <span style="font-size: smaller "></span></p>
                    </div>
                </div>
                <div class="pic d-inline-block col-3 ">
                    <div class="carousel-item active ">
                        <img src="Elder-Scrolls-6.png " class="d-block w-100 " alt="Slide 1 ">
                        <span style="font-size: smaller "></span></p>
                    </div>
                </div>


            </section>
        </div>
    </section>



    
</body>